{{ block title }}
    Task 2
{{ endblock }}
{{ block content }}



        <div class="container">
        <table class="table table-bordered">
                <tr>
                 <td> {{ if grid_numbers.0 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.0 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
                 <td> {{ if grid_numbers.1 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.1 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
                 <td> {{ if grid_numbers.2 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.2 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
                 <td> {{ if grid_numbers.3 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.3 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
                 <td> {{ if grid_numbers.4 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.4 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
                 <td> {{ if grid_numbers.5 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.5 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
            </tr>
            <tr>
                 <td> {{ if grid_numbers.6 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.6 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
                 <td> {{ if grid_numbers.7 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.7 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
                 <td> {{ if grid_numbers.8 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.8 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
                 <td> {{ if grid_numbers.9 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.9 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
                 <td> {{ if grid_numbers.10 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.10 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
                 <td> {{ if grid_numbers.11 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.11 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
            </tr>
            <tr>
                 <td> {{ if grid_numbers.12 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.12 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
                 <td> {{ if grid_numbers.13 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.13 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
                 <td> {{ if grid_numbers.14 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.14 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
                 <td> {{ if grid_numbers.15 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.15 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
                 <td> {{ if grid_numbers.16 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.16 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
                 <td> {{ if grid_numbers.17 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.17 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
            </tr>
            <tr>
                 <td> {{ if grid_numbers.18 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.18 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
                 <td> {{ if grid_numbers.19 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.19 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
                 <td> {{ if grid_numbers.20 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.20 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
                 <td> {{ if grid_numbers.21 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.21 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
                 <td> {{ if grid_numbers.22 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.22 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
                 <td> {{ if grid_numbers.23 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.23 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
            </tr>
            <tr>
                 <td> {{ if grid_numbers.24 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.24 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
                 <td> {{ if grid_numbers.25 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.25 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
                 <td> {{ if grid_numbers.26 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.26 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
                 <td> {{ if grid_numbers.27 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.27 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
                 <td> {{ if grid_numbers.28 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.28 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
                 <td> {{ if grid_numbers.29 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.29 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
            </tr>
            <tr>
                 <td> {{ if grid_numbers.30 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.30 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
                 <td> {{ if grid_numbers.31 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.31 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
                 <td> {{ if grid_numbers.32 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.32 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
                 <td> {{ if grid_numbers.33 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.33 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
                 <td> {{ if grid_numbers.34 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.34 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
                 <td> {{ if grid_numbers.35 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.35 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
            </tr>
        </table>
    </div>
    <br>
    <br>

How many ones (1s) are in the table above?<br>
<input type="number" name="number_entered" autofocus="autofocus" label=""/>


{% next_button %}

{{ endblock }}
